html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  padding: 0 5px 0 5px !important;
}
#iframeId {
  width: 100%;
  height: 100%;
}
[class*="col-xs"]:not(:empty),
input {
  border: 1px solid green;
  border-radius: 10px;
  margin: 1px 0;
}
.col-xs-2 {
  padding: 1px 3px;
}
input,
select,
.required {
  width: 100%;
  background-color: #FFF380;
}
.optional {
  background-color: #dff4d0;
}
input[type="text"]:disabled {
  background: #D0D0D0;
}
#inner {
  display: table;
  margin: 0 auto;
}
.owl-carousel .owl-item img {
  margin: auto;
  width: auto;
  max-width: 100%;
  max-height: 68px;
}
.control-container {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
.control-container span {
  transform: translate(0, -50%);
  top: 50%;
}
#tabs-container .tab-pane {
  width: 100%;
}
.template-notes {
  height: 100%;
  overflow: auto;
  font-size: 14px;
}
.save-image-button {
  position: absolute;
  right: 5px;
  bottom: 3px;
  z-index: 1;
}
#wlda-loading-table-faces,
#wlda-loading-table tbody tr th {
  vertical-align: middle;
  font-size: 14px;
  padding: 2px;
  background-color: rgba(221, 221, 221, 0.5);
}
#wlda-loading-table-faces,
#wlda-loading-table tbody tr td {
  font-size: 13px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
}
#wlda-loading-table-faces,
#wlda-loading-table tbody tr td button {
  padding: 2px 10px;
}
.loading-inner-table {
  border: none;
  margin-bottom: 0;
}
.loading-inner-table tbody tr td:first-child {
  border-left: none;
}
.loading-inner-table tbody tr td:last-child {
  border-right: none;
}
.table-for-jack tbody tr th {
  font-size: 14px;
  padding: 2px;
  background-color: rgba(221, 221, 221, 0.5);
}
.table-for-jack tbody tr td {
  font-size: 13px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
}
.table-for-jack tbody tr td button {
  padding: 2px 10px;
}
#faces-tab .titleFaces {
  float: left;
  padding: 5px;
}
#faces-tab #faces-tab .btn-saveAll {
  margin-top: 5px;
}
.form-control {
  padding: 2px;
  height: 25px;
}
#wlda-loading-second-table tbody tr th {
  vertical-align: middle;
  font-size: 13px;
  padding: 2px;
  background-color: rgba(221, 221, 221, 0.5);
}
#wlda-loading-second-table tbody tr tr td {
  vertical-align: middle;
  font-size: 13px;
  padding: 2px;
  text-align: center;
}
#wlda-loading-second-table tbody tr tr td button {
  padding: 2px 10px;
}
.loading-vp-select:disabled {
  background: #D0D0D0;
}
.status-color-proposed {
  background: #80ff7f;
}
.status-color-existing {
  background: #e8a05f;
  color: #ffffff;
}
.status-color-tbrmvd {
  background: #a5acff;
  color: #ffffff;
}
.status-color-reserved {
  background: #ff4dab;
}
.status-color-future {
  background: #424448;
  color: #ffffff;
}
.loading-total-container {
  position: relative;
  display: inline-block;
  width: 480px;
  margin-top: 20px;
  float: right;
  margin-right: 170px;
}
.loading-total-container .title {
  position: relative;
  width: 100%;
  height: 30px;
}
.loading-total-container .title .total-label {
  float: left;
  width: 150px;
  line-height: 30px;
}
.loading-total-container .title .epa-label {
  float: right;
  width: 100px;
  margin-left: 15px;
  text-align: center;
  line-height: 30px;
}
.loading-total-container .title .dwf-label {
  float: right;
  width: 100px;
  margin-left: 15px;
  text-align: center;
  line-height: 30px;
}
.loading-total-container .main-container {
  float: right;
  height: 100%;
  width: 380px;
  margin-top: 5px;
}
.loading-total-container .main-container .list-row {
  position: relative;
  height: 25px;
  width: 100%;
  margin-bottom: 5px;
}
.loading-total-container .main-container .list-row .list-label {
  line-height: 25px;
  float: left;
  width: 150px;
  text-align: right;
}
.loading-total-container .main-container .list-row .epa-value,
.loading-total-container .main-container .list-row .dwf-value {
  line-height: 25px;
  width: 100px;
  float: left;
  text-align: center;
  margin-left: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.37);
}
.copy-tab-button-container {
  position: absolute;
  top: 40px;
  right: 315px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.access-settings-panel {
  position: absolute;
  top: 40px;
  right: 5px;
  width: 300px;
  height: 30px;
}
.access-settings-panel .public-access-container {
  position: relative;
  float: left;
  height: 100%;
  width: 40px;
}
.access-settings-panel .public-access-container .access-button span {
  font-size: 12px;
  width: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  border: 1px solid #565656;
  line-height: 16px;
  cursor: pointer;
  background: #ffffff;
}
.access-settings-panel .public-access-container .global-navigation-menu {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 10;
  background: #ffffff;
  box-shadow: 0 1px 3px #e3e3e3;
  height: 130px;
  width: 180px;
  padding: 5px;
  overflow: auto;
}
.access-settings-panel .public-access-container .global-navigation-menu .user-row {
  position: relative;
  width: 100%;
  height: 20px;
  overflow: hidden;
}
.access-settings-panel .public-access-container .global-navigation-menu .user-row .checkbox-container {
  float: left;
  width: 15px;
}
.access-settings-panel .public-access-container .global-navigation-menu .user-row .checkbox-container input {
  margin: 0;
}
.access-settings-panel .public-access-container .global-navigation-menu .user-row .user-name {
  float: left;
  margin-left: 5px;
  line-height: 17px;
  width: calc(80%);
  height: 100%;
  overflow: hidden;
}
.access-settings-panel .access-settings-container {
  width: calc(100% - 40px);
  text-align: center;
  float: left;
  position: relative;
  height: 20px;
  margin-top: 2px;
}
.access-settings-panel .access-settings-container .public-container,
.access-settings-panel .access-settings-container .private-container {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
.access-settings-panel .access-settings-container .public-container input,
.access-settings-panel .access-settings-container .private-container input {
  right: calc(50% + 5px);
  position: absolute;
  width: auto;
}
.access-settings-panel .access-settings-container .public-container img,
.access-settings-panel .access-settings-container .private-container img {
  position: absolute;
  left: calc(50% + 5px);
}
.equipment-dimensions-modal {
  position: absolute;
  padding: 5px;
  display: inline-block;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  background: #ffffff;
  border-radius: 2px;
  bottom: 5px;
}
.equipment-dimensions-modal .close-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 4px;
  color: #ec354d;
  background: #ffffff;
}
